// general styles for all the sections.

.all-sections {
    section {
        min-height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}