// Styles unique to one section.
.section-1 {

    .left {
        .sub {
            max-width: 75%;

        }
    }

    .right {
        flex: 0 0 50%;
        max-width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;



        .circle {
            background: $blue;
            border: 1.4em solid lighten($blue, 20%);
            border-radius: 50%;
            transform-origin: center center;
        }

        .circle-1 {
            width: 8.5em;
            height: 8.5em;
        }

        .circle {
            &:not(:first-of-type) {
                position: absolute;
            }
        }

        .circle-2 {
            width: 6em;
            height: 6em;
            border-width: 1.2em;
        }

        .circle-3 {
            width: 9em;
            height: 9em;
        }

        .circle-4 {
            width: 6em;
            height: 6em;
            border-width: 1.2em;
        }

        .circle-5 {
            width: 7em;
            height: 7em;
        }
    }
}

.section-2 {
    .left {
        flex: 0 0 60%;
        max-width: 60%;

        .title {
            line-height: 1.3;
            margin-bottom: 20px;
        }
    }
}

.section-3 {
    .left {
        flex: 0 0 53%;
        max-width: 53%;

        .title {
            line-height: 1.2;
        }
    }
}

.button.button-txt {
    padding: 20px 40px !important;
}




// @keyframes moveit {
//     0% {
//         transform: scale3d(0.96, 0.96, 1);
//     }

//     20% {
//         transform: scale3d(1.1, 1.1, 1);
//     }

//     40% {
//         transform: scale3d(0.98, 0.98, 1);
//     }

//     60% {
//         transform: scale3d(1.05, 1.05, 1);
//     }

//     80% {
//         transform: scale3d(1.01, 1.01, 1);
//     }

//     100% {
//         transform: scale3d(1, 1, 1);
//     }
// }