// general styles for all the sections.

.landing {
    position: relative;

    nav {
        padding: 30px 10%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;

        .logo {
            font-family: 'Poppins', sans-serif;
            font-style: italic;
            font-weight: 600;
            font-size: 29px;
            cursor: pointer;
        }
    }
}

.pd-10 {
    padding: 0 10%;
}

.all-sections {
    position: relative;

    section {
        padding: 0 10%;
        position: absolute;
        min-height: 100vh;
        max-height: 100vh;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
    }


}

// General styling for the sections.
.section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .left {
        flex: 0 0 50%;
        max-width: 50%;

        .title {
            font-weight: 600;
            font-size: 2.9em;
            position: relative;
            line-height: 1.1;
            display: inline-block;
            margin-bottom: 30px;

            >span {
                overflow: hidden;
                display: inline-block;

                .hide-text {
                    position: relative;
                    overflow: hidden;
                    display: block;
                    will-change: transform;
                }
            }
        }

        .sub {
            // padding-right: 150px;
            max-width: 90%;
            opacity: 0.6;
            font-size: 1.11em;
            line-height: 1.7;
            margin-bottom: 30px;
        }

        .buttons {
            display: flex;

            .button {
                background: darken($blue, 3%);
                padding: 13px 40px;
                border-radius: 12px;
                font-weight: 400;

                .coming {
                    font-size: .65em;
                }

                .app {
                    font-weight: 600;
                }

                &:first-of-type {
                    margin-right: 30px;
                }
            }
        }
    }

    .right {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.line-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: url('../../assets/images/line-bg.svg') 50% repeat;
    width: 170vw;
    background-size: 170%;
}

.indicator-con {
    position: fixed;
    width: 100%;
    bottom: 30px;
    left: 0;

    .inner {
        position: relative;
        display: flex;
        align-items: center;
        height: 18px;
        width: 100%;
    }

    .balls {
        position: absolute;
        left: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .ball {
            width: 5px;
            height: 5px;
            position: relative;
            position: relative;
            width: 12px;
            height: 12px;
            border-radius: 10px;
            background-color: lighten($blue, 20%);
            border: 3px solid darken($blue, 10%);
            cursor: pointer;
            transition: all .5s ease-in;

            &::after {
                content: attr(data-num);
                color: $yellow;
                white-space: nowrap;
                position: absolute;
                font-size: 8px;
                font-weight: 600;
                top: -18px;
                left: -1.5px;
                transition: all, 1s ease-in;
                transform: translate(0, 20px);
                opacity: 0;
            }
        }

        .ball.active {
            background-color: $yellow;
        }

        .ball.active-num {
            &::after {
                transform: translate(0, 0);
                opacity: 1;
            }
        }

    }

    .line {
        width: 100%;
        position: relative;
        background: lighten($blue, 30%);
        height: 1px;
        z-index: -2;
    }

    .line-scroll {
        position: absolute;
        background: $yellow;
        height: 1.2px;
        z-index: -1;
        transition: all 1s ease-in;
    }
}
