@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
@import './styles/breakpoints.scss';

// Resets
* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    background: #166fc9;
    color: #ffffff;
    font-family: "Eina", sans-serif;
    font-size: 16px;

    @include media("<=1200px") {
        font-size: 14px;
    }
}

// Fonts
@font-face {
    font-family: 'Eina';
    src: url('./assets/fonts/eina01-regular-webfont.57ac5b4b.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina';
    src: url('./assets/fonts/eina01-semibold-webfont.93d21e16.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina';
    src: url('./assets/fonts/eina01-bold-webfont.17ecfa75.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}